.forside-cta_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.forside-cta_grid a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.logo-forside {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: auto;
}
